/* Custom CSS for Streamlit Dashboard */

/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
}

/* Title Styling */
h1 {
    font-size: 2.5rem;
    color: #2C3E50;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Sidebar Styling */
.sidebar .sidebar-content {
    background-color: #000000;  /* Black background for sidebar */
    color: #ECF0F1;  /* White text color */
}

.sidebar .sidebar-header {
    background-color: #000000;  /* Black background for sidebar header */
    color: #ECF0F1;  /* White text color for header */
}

.sidebar .sidebar-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

/* Button Styling */
.stButton>button {
    background-color: #16A085;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
}

.stButton>button:hover {
    background-color: #1ABC9C;
}

/* Graph Styling */
.stImage, .stPlot {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* DataFrame Table Styling */
.dataframe {
    border-collapse: collapse;
}

.dataframe th, .dataframe td {
    padding: 12px 20px;
    border: 1px solid #ddd;
}

.dataframe th {
    background-color: #2C3E50;
    color: #ECF0F1;
}

.dataframe td {
    text-align: center;
    color: #2C3E50;
}

/* Subheader Styling */
h3, .stSubheader {
    font-size: 1.5rem;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Buttons & Inputs */
.stButton>button, .stTextInput>input, .stNumberInput>input {
    font-size: 1rem;
    color: #2C3E50;
    border-radius: 5px;
    padding: 8px;
}

/* Bar Chart Styling */
.bar {
    border-radius: 8px;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stSelectbox, .stTextInput, .stNumberInput {
    font-size: 1.1rem;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stSelectbox:hover, .stTextInput:hover, .stNumberInput:hover {
    background-color: #f1f1f1;
}
